#vjs-image-overlay-holder {
    position: absolute;
    bottom: 50;
    left: 0;
    text-align: right;
    cursor: pointer;
}
#vjs-image-overlay-holder img {
    height: 100%;
    margin: auto;
    cursor: pointer;
}
#vjs-image-overlay-holder img:hover {
    opacity: 1 !important;
}

