#vjs-image-overlay-holder {
    position: absolute;
    bottom: 50px;
    left: -50px;
    text-align: right;
    cursor: pointer;
}
#vjs-image-overlay-holder img {
    height: 100%;
    margin: auto;
    cursor: pointer;
}
#vjs-image-overlay-holder img:hover {
    opacity: 1 !important;
}

